/* 
 
 Typography is the way that text is arranged and presented

 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  padding: 10%;
  font-size: 2rem;
}

/* input,
button {
  font-size: inherit;
} */

p {
  line-height: 1.5;
  /*font-weight: 900; 
  font-style: oblique;*/

  /* word-spacing: 0.7em;
  letter-spacing: 0.1em;*/

  /* text-decoration: underline; 
  text-transform: capitalize;
  text-align: justify;
  text-indent: 5em;*/
  /* type 'text' then all the other properties should pop up */
}
